/* ==========================================================================
SITE STRUCTURE
========================================================================== */
:root {
    --main-bg: #1f2020;
    --main-bg-light: #4e5050;
    --main-bg-hover: #777979;
    --main-fg: #dddcde;
    --main-fg-hover: #c7c7c7;
    --main-fg-highlight: #ebe9ec;
    --main-width: 400px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

html { 
    background-color: var(--main-bg);
    color: var(--main-fg);
    height:100%;
    width:100%;
}
nav {
    display: block;
    height: 60px;
}
main {
    padding: 10px 20px;
}

table {
    border: 2px solid var(--main-fg);
    border-radius: .5em;
    margin: .5%; 
    border-collapse:separate;
    border-spacing: 0;
    padding: .5em;
    width:99%;
}
    th {
        font-weight: 700;
        text-align: left;
    }
    th, td {
        padding: 4px;
    }

/**
* === FORM ELEMENTS ===
*/
form {
    width: 100%;
    max-width: var(--main-width);
    float:left;
}
fieldset {
    padding: 16px;
    float: left;
    border-radius: .5em;
    border-color: var(--main-bg-light);
    border: none;
}
fieldset>legend {
    padding: 0 44px;      
    font-size: x-large; 
    color: var(--main-bg-hover); 
}
.button,
.button-icon,
.text {
    height:40px; 
    color: var(--main-fg);
    border:1px solid var(--main-bg-light);
    border-radius: .2em;
    box-sizing: border-box;
    margin: 3px 0;
    float:left;
    padding: 6px 12px;
    font-size: large;
    text-align: left;
}
.button {
    background-color: var(--main-bg-light);
}
.text {
    background-color: var(--main-bg);
}
.button,
.button-icon{
    cursor:pointer;
}
.button:disabled{
    background-color: var(--main-bg-hover);
    color: var(--main-fg-hover);
    cursor: default;
}
.text { 
    width: 100%;
}
.button:focus,
.text:focus{
    outline: none !important;
    box-shadow: 0 0 6px #949597;
}

@media (hover: hover) {
    .button:hover:enabled {
        background-color: var(--main-bg-hover);
        border-color: var(--main-bg-hover);
    }
    .button-icon:hover:enabled {
        color: var(--main-fg-hover);
    }
}
.button-icon {
    border: transparent;
    background-color: transparent;
    color: var(--main-fg-hover);
}
.right {
    float: right;
}
.left {
    float: left;
}
/**
* === MATERIAL DESIGN ICON STUFF ===
* https://fonts.google.com/icons
*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("MaterialIconsSharp-Regular.otf") format("opentype");
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

/* ==========================================================================
MODULE-SPECIFIC STYLES
========================================================================== */

/**
* === SECTOR EDITOR ===
*/
#sectorEditBox,
#sectorBox  {
    width: 100%;
    max-width: var(--main-width);
}
#sectorEditBox {
    clear: both;
    display: none;
}
#sectorEditButtonBox {
    margin-top: -10px;
    /*margin-left: -26px;*/
}

.button-sector {
    width: 100%;
}

/**
* === POLYGON STUFF ===
*/
.polysvg {
    max-width: 1000px;
}
    .polymap,
    .polymap-active,
    .polymap-parent {
        stroke: var(--main-fg);
        stroke-width:2px;
        fill: var(--main-bg);
    }
    .polymap,
    .polymap-active {
        stroke-width:2px;
    }
    
    .polymap-active {
        fill: var(--main-bg-hover);
    }

    @media (hover: hover) {
        .polymap:hover {
            fill: var(--main-bg-hover);
        }
    }

    .polymap:hover {
        cursor: pointer;
    }